@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}



/* body {
  width: 100%;
  height: 100vh;
  background: #273c75;
} */

.navbar {
  display: flex;
  justify-content: center;
  margin: 50px;
  background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
  border-radius: 10px;
  padding: 50px;
  color: white;
  align-items: center;
}

.navbar-title {
  font-size: 50px;
  font-family: 'Titan One', cursive;
}





:root{
    --background: red;
    --foreground: #fff;
    --primary: #6a74c9;
    --text-black: #4b4b4b;
    --text-gray: #4f4f4f;
    --border: #e6e6e6;
    --shadow: #b1b1b140;
}

body{
    background-color: #eff2f9 ;
}

.hero-box{
    margin-top: 28px;
}

.container1{
    width: 95%;
    margin: auto;
    padding: 40px;
    background: linear-gradient(45deg, #a862ea, transparent), url(./images/Eid\ al-Adha\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #b1b1b140;
    position: relative;
}

.container2{
    width: 95%;
    margin: auto;
    padding: 40px;
    background: linear-gradient(45deg, #ea9a62, transparent), url(./images/Eid\ al-Adha\ 1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #b1b1b140;
    position: relative;
}

.container3{
    width: 95%;
    margin: auto;
    padding: 40px;
    background: linear-gradient(45deg, #00569a, transparent), url(./images/Eid\ al-Adha\ 4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 1px 1px 4px #b1b1b140;
    position: relative;
}

.hero-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-wrapper .Eid-text{
    width: 60%;
}

.hero-wrapper .Eid-text h1{
    color: #eff2f9;
    text-transform: uppercase;
    font-size: 50px;
}

.hero-wrapper .Eid-text span{
    color: #c8f1ff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px;
    background: #6a74c97d;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}


.hero-wrapper .Eid-text p{
    color: #e4f7ff;
    font-size: 14px;
    opacity: 0.7;
}

.Eid-time{
    background:#eff2f9 ;
    width: 35%;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #00000052;
    display: flex;
    flex-wrap: wrap;
}

.Eid-time h4{
    font-size: 22px;
    color: #6a74c9;
    text-transform: uppercase;
    margin-bottom: 18px;
    width: 100%;
}

.Eid-time > div{
    width: 40%;
    padding: 10px;
    background: #eff2f9 ;
    border-radius: 10px;
    margin-right: 5%;
    border: 1px solid #e6e6e6;
}

.Eid-time > div span{
    color: #4b4b4b;
    display: block;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.Eid-time > div span b{
    font-size: 45px;
    display: block;
    margin-bottom: -10px;
    color: #6a74c9 ;
}

.Eid-time > div p{
    color: #4f4f4f;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
}

.Eid-time ul{
    width: 55%;
}

.Eid-time ul li{
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    text-transform: capitalize;
}

.Eid-time ul li b{
    color: #4b4b4b;
    font-weight: 600;
}






@media (max-width: 320px){
    .navbar {
        display: flex;
        justify-content: center;
        margin: 40px;
        background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
        border-radius: 10px;
        padding: 25px;
        color: white;
        align-items: center;
      }
      
      .navbar-title {
        font-size: 30px;
        font-family: 'Titan One', cursive;
      }
    
    .container1{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #a862ea, transparent), url(./images/Eid\ al-Adha\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .container2{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #ea9a62, transparent), url(./images/Eid\ al-Adha\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }
    
    .container3{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #00569a, transparent), url(./images/Eid\ al-Adha\ 4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .Eid-time{
        background:#eff2f9 ;
        width: 55%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px #00000052;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Eid-time h4{
        font-size: 10px;
        color: #6a74c9;
        text-transform: uppercase;
        margin-bottom: 14px;
        width: 100%;
    }
    
    .Eid-time > div{
        width: 100%;
        padding: 10px;
        background: #eff2f9 ;
        border-radius: 10px;
        margin-right: 5%;
        border: 1px solid #e6e6e6;
    }
    
    .Eid-time > div span{
        color: #4b4b4b;
        display: block;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 200;
    }
    
    .Eid-time > div span b{
        font-size: 25px;
        display: block;
        margin-bottom: -10px;
        color: #6a74c9 ;
    }

    .Eid-time > div p{
        color: #4f4f4f;
        text-align: center;
        text-transform: capitalize;
        font-size: 10px;
    }
    
    .Eid-time ul{
        width: 150%;
    }
    
    .Eid-time ul li{
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        text-transform: capitalize;
        font-size: 12px;
    }
    
    .Eid-time ul li b{
        color: #4b4b4b;
        font-weight: 400;
        font-size: 12px;
    }

    .hero-wrapper .Eid-text{
        width: 60%;
    }
    
    .hero-wrapper .Eid-text h1{
        color: #eff2f9;
        text-transform: uppercase;
        font-size: 25px;
    }
    
    .hero-wrapper .Eid-text span{
        color: #c8f1ff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        background: #6a74c97d;
        padding: 5px 14px;
        border-radius: 5px;
        display: inline-block;
    }
    
    
    .hero-wrapper .Eid-text p{
        color: #e4f7ff;
        font-size: 10px;
        opacity: 0.7;
    }
}






@media (max-width: 375px){
    .navbar {
        display: flex;
        justify-content: center;
        margin: 40px;
        background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
        border-radius: 10px;
        padding: 25px;
        color: white;
        align-items: center;
      }
      
      .navbar-title {
        font-size: 30px;
        font-family: 'Titan One', cursive;
      }

    .container1{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #a862ea, transparent), url(./images/Eid\ al-Adha\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .container2{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #ea9a62, transparent), url(./images/Eid\ al-Adha\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }
    
    .container3{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #00569a, transparent), url(./images/Eid\ al-Adha\ 4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .Eid-time{
        background:#eff2f9 ;
        width: 55%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px #00000052;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Eid-time h4{
        font-size: 10px;
        color: #6a74c9;
        text-transform: uppercase;
        margin-bottom: 14px;
        width: 100%;
    }
    
    .Eid-time > div{
        width: 100%;
        padding: 10px;
        background: #eff2f9 ;
        border-radius: 10px;
        margin-right: 5%;
        border: 1px solid #e6e6e6;
    }
    
    .Eid-time > div span{
        color: #4b4b4b;
        display: block;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 200;
    }
    
    .Eid-time > div span b{
        font-size: 25px;
        display: block;
        margin-bottom: -10px;
        color: #6a74c9 ;
    }

    .Eid-time > div p{
        color: #4f4f4f;
        text-align: center;
        text-transform: capitalize;
        font-size: 10px;
    }
    
    .Eid-time ul{
        width: 150%;
    }
    
    .Eid-time ul li{
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        text-transform: capitalize;
        font-size: 12px;
    }
    
    .Eid-time ul li b{
        color: #4b4b4b;
        font-weight: 400;
        font-size: 12px;
    }

    .hero-wrapper .Eid-text{
        width: 60%;
    }
    
    .hero-wrapper .Eid-text h1{
        color: #eff2f9;
        text-transform: uppercase;
        font-size: 25px;
    }
    
    .hero-wrapper .Eid-text span{
        color: #c8f1ff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        background: #6a74c97d;
        padding: 5px 14px;
        border-radius: 5px;
        display: inline-block;
    }
    
    
    .hero-wrapper .Eid-text p{
        color: #e4f7ff;
        font-size: 10px;
        opacity: 0.7;
    }
}







@media (max-width: 390px){
    .navbar {
        display: flex;
        justify-content: center;
        margin: 40px;
        background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
        border-radius: 10px;
        padding: 25px;
        color: white;
        align-items: center;
      }
      
      .navbar-title {
        font-size: 30px;
        font-family: 'Titan One', cursive;
      }
    
    .container1{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #a862ea, transparent), url(./images/Eid\ al-Adha\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .container2{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #ea9a62, transparent), url(./images/Eid\ al-Adha\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }
    
    .container3{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #00569a, transparent), url(./images/Eid\ al-Adha\ 4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .Eid-time{
        background:#eff2f9 ;
        width: 55%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px #00000052;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Eid-time h4{
        font-size: 10px;
        color: #6a74c9;
        text-transform: uppercase;
        margin-bottom: 14px;
        width: 100%;
    }
    
    .Eid-time > div{
        width: 100%;
        padding: 10px;
        background: #eff2f9 ;
        border-radius: 10px;
        margin-right: 5%;
        border: 1px solid #e6e6e6;
    }
    
    .Eid-time > div span{
        color: #4b4b4b;
        display: block;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 200;
    }
    
    .Eid-time > div span b{
        font-size: 25px;
        display: block;
        margin-bottom: -10px;
        color: #6a74c9 ;
    }

    .Eid-time > div p{
        color: #4f4f4f;
        text-align: center;
        text-transform: capitalize;
        font-size: 10px;
    }
    
    .Eid-time ul{
        width: 150%;
    }
    
    .Eid-time ul li{
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        text-transform: capitalize;
        font-size: 12px;
    }
    
    .Eid-time ul li b{
        color: #4b4b4b;
        font-weight: 400;
        font-size: 12px;
    }

    .hero-wrapper .Eid-text{
        width: 60%;
    }
    
    .hero-wrapper .Eid-text h1{
        color: #eff2f9;
        text-transform: uppercase;
        font-size: 25px;
    }
    
    .hero-wrapper .Eid-text span{
        color: #c8f1ff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        background: #6a74c97d;
        padding: 5px 14px;
        border-radius: 5px;
        display: inline-block;
    }
    
    
    .hero-wrapper .Eid-text p{
        color: #e4f7ff;
        font-size: 10px;
        opacity: 0.7;
    }
}








@media (max-width: 412px){
    .navbar {
        display: flex;
        justify-content: center;
        margin: 40px;
        background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
        border-radius: 10px;
        padding: 25px;
        color: white;
        align-items: center;
      }
      
      .navbar-title {
        font-size: 30px;
        font-family: 'Titan One', cursive;
      }
    
    .container1{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #a862ea, transparent), url(./images/Eid\ al-Adha\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .container2{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #ea9a62, transparent), url(./images/Eid\ al-Adha\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }
    
    .container3{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #00569a, transparent), url(./images/Eid\ al-Adha\ 4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .Eid-time{
        background:#eff2f9 ;
        width: 55%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px #00000052;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Eid-time h4{
        font-size: 10px;
        color: #6a74c9;
        text-transform: uppercase;
        margin-bottom: 14px;
        width: 100%;
    }
    
    .Eid-time > div{
        width: 100%;
        padding: 10px;
        background: #eff2f9 ;
        border-radius: 10px;
        margin-right: 5%;
        border: 1px solid #e6e6e6;
    }
    
    .Eid-time > div span{
        color: #4b4b4b;
        display: block;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 200;
    }
    
    .Eid-time > div span b{
        font-size: 25px;
        display: block;
        margin-bottom: -10px;
        color: #6a74c9 ;
    }

    .Eid-time > div p{
        color: #4f4f4f;
        text-align: center;
        text-transform: capitalize;
        font-size: 10px;
    }
    
    .Eid-time ul{
        width: 150%;
    }
    
    .Eid-time ul li{
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        text-transform: capitalize;
        font-size: 12px;
    }
    
    .Eid-time ul li b{
        color: #4b4b4b;
        font-weight: 400;
        font-size: 12px;
    }

    .hero-wrapper .Eid-text{
        width: 60%;
    }
    
    .hero-wrapper .Eid-text h1{
        color: #eff2f9;
        text-transform: uppercase;
        font-size: 25px;
    }
    
    .hero-wrapper .Eid-text span{
        color: #c8f1ff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        background: #6a74c97d;
        padding: 5px 14px;
        border-radius: 5px;
        display: inline-block;
    }
    
    
    .hero-wrapper .Eid-text p{
        color: #e4f7ff;
        font-size: 10px;
        opacity: 0.7;
    }
}











@media (max-width: 414px){
    .navbar {
        display: flex;
        justify-content: center;
        margin: 40px;
        background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
        border-radius: 10px;
        padding: 25px;
        color: white;
        align-items: center;
      }
      
      .navbar-title {
        font-size: 30px;
        font-family: 'Titan One', cursive;
      }
      
    .navbar {
        display: flex;
        justify-content: center;
        margin: 40px;
        background:linear-gradient(45deg, #a862ea, transparent), url(./images/background.jpg) ;
        border-radius: 10px;
        padding: 25px;
        color: white;
        align-items: center;
      }
      
      .navbar-title {
        font-size: 30px;
        font-family: 'Titan One', cursive;
      }

    .container1{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #a862ea, transparent), url(./images/Eid\ al-Adha\ 2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .container2{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #ea9a62, transparent), url(./images/Eid\ al-Adha\ 1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }
    
    .container3{
        width: 90%;
        margin: auto;
        padding: 30px;
        background: linear-gradient(45deg, #00569a, transparent), url(./images/Eid\ al-Adha\ 4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        box-shadow: 1px 1px 4px #b1b1b140;
        position: relative;
    }

    .Eid-time{
        background:#eff2f9 ;
        width: 55%;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 2px 2px 4px #00000052;
        display: flex;
        flex-wrap: wrap;
    }
    
    .Eid-time h4{
        font-size: 10px;
        color: #6a74c9;
        text-transform: uppercase;
        margin-bottom: 14px;
        width: 100%;
    }
    
    .Eid-time > div{
        width: 100%;
        padding: 10px;
        background: #eff2f9 ;
        border-radius: 10px;
        margin-right: 5%;
        border: 1px solid #e6e6e6;
    }
    
    .Eid-time > div span{
        color: #4b4b4b;
        display: block;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 200;
    }
    
    .Eid-time > div span b{
        font-size: 25px;
        display: block;
        margin-bottom: -10px;
        color: #6a74c9 ;
    }

    .Eid-time > div p{
        color: #4f4f4f;
        text-align: center;
        text-transform: capitalize;
        font-size: 10px;
    }
    
    .Eid-time ul{
        width: 150%;
    }
    
    .Eid-time ul li{
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #e6e6e6;
        text-transform: capitalize;
        font-size: 12px;
    }
    
    .Eid-time ul li b{
        color: #4b4b4b;
        font-weight: 400;
        font-size: 12px;
    }

    .hero-wrapper .Eid-text{
        width: 60%;
    }
    
    .hero-wrapper .Eid-text h1{
        color: #eff2f9;
        text-transform: uppercase;
        font-size: 25px;
    }
    
    .hero-wrapper .Eid-text span{
        color: #c8f1ff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        background: #6a74c97d;
        padding: 5px 14px;
        border-radius: 5px;
        display: inline-block;
    }
    
    
    .hero-wrapper .Eid-text p{
        color: #e4f7ff;
        font-size: 10px;
        opacity: 0.7;
    }
}



.footer-basic {
    padding:40px 0;
    background-color:#cdf0ac;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    background-color: #4dff4d;
    color: white;
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
    background-color: #36b336;
    color: white;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }


  /* By Hasnain.HSA */